
*.vec
data/train_valid.pkl
model/model.pkl.fold0.0
model/model.pkl.fold0.1
model/model.pkl.fold0.10
model/model.pkl.fold0.11
model/model.pkl.fold0.12
model/model.pkl.fold0.13
model/model.pkl.fold0.14
model/model.pkl.fold0.15
model/model.pkl.fold0.16
model/model.pkl.fold0.17
model/model.pkl.fold0.18
model/model.pkl.fold0.19
model/model.pkl.fold0.2
model/model.pkl.fold0.20
model/model.pkl.fold0.21
model/model.pkl.fold0.22
model/model.pkl.fold0.23
model/model.pkl.fold0.24
model/model.pkl.fold0.25
model/model.pkl.fold0.26
model/model.pkl.fold0.27
model/model.pkl.fold0.28
model/model.pkl.fold0.29
model/model.pkl.fold0.3
model/model.pkl.fold0.4
model/model.pkl.fold0.5
model/model.pkl.fold0.6
model/model.pkl.fold0.7
model/model.pkl.fold0.8
model/model.pkl.fold0.9
model/model.pkl.fold1.0
model/model.pkl.fold1.1
model/model.pkl.fold1.10
model/model.pkl.fold1.11
model/model.pkl.fold1.12
model/model.pkl.fold1.13
model/model.pkl.fold1.14
model/model.pkl.fold1.15
model/model.pkl.fold1.16
model/model.pkl.fold1.17
model/model.pkl.fold1.18
model/model.pkl.fold1.19
model/model.pkl.fold1.2
model/model.pkl.fold1.20
model/model.pkl.fold1.21
model/model.pkl.fold1.22
model/model.pkl.fold1.23
model/model.pkl.fold1.24
model/model.pkl.fold1.25
model/model.pkl.fold1.26
model/model.pkl.fold1.27
model/model.pkl.fold1.28
model/model.pkl.fold1.29
model/model.pkl.fold1.3
model/model.pkl.fold1.4
model/model.pkl.fold1.5
model/model.pkl.fold1.6
model/model.pkl.fold1.7
model/model.pkl.fold1.8
model/model.pkl.fold1.9
model/model.pkl.fold2.0
model/model.pkl.fold2.1
model/model.pkl.fold2.10
model/model.pkl.fold2.11
model/model.pkl.fold2.12
model/model.pkl.fold2.13
model/model.pkl.fold2.14
model/model.pkl.fold2.15
model/model.pkl.fold2.16
model/model.pkl.fold2.17
model/model.pkl.fold2.18
model/model.pkl.fold2.19
model/model.pkl.fold2.2
model/model.pkl.fold2.20
model/model.pkl.fold2.21
model/model.pkl.fold2.22
model/model.pkl.fold2.23
model/model.pkl.fold2.24
model/model.pkl.fold2.25
model/model.pkl.fold2.26
model/model.pkl.fold2.27
model/model.pkl.fold2.28
model/model.pkl.fold2.29
model/model.pkl.fold2.3
model/model.pkl.fold2.4
model/model.pkl.fold2.5
model/model.pkl.fold2.6
model/model.pkl.fold2.7
model/model.pkl.fold2.8
model/model.pkl.fold2.9
model/model.pkl.fold3.0
model/model.pkl.fold3.1
model/model.pkl.fold3.10
model/model.pkl.fold3.11
model/model.pkl.fold3.12
model/model.pkl.fold3.13
model/model.pkl.fold3.14
model/model.pkl.fold3.15
model/model.pkl.fold3.16
model/model.pkl.fold3.17
model/model.pkl.fold3.18
model/model.pkl.fold3.19
model/model.pkl.fold3.2
model/model.pkl.fold3.20
model/model.pkl.fold3.21
model/model.pkl.fold3.22
model/model.pkl.fold3.23
model/model.pkl.fold3.24
model/model.pkl.fold3.25
model/model.pkl.fold3.26
model/model.pkl.fold3.27
model/model.pkl.fold3.28
model/model.pkl.fold3.29
model/model.pkl.fold3.3
model/model.pkl.fold3.4
model/model.pkl.fold3.5
model/model.pkl.fold3.6
model/model.pkl.fold3.7
model/model.pkl.fold3.8
model/model.pkl.fold3.9
model/model.pkl.fold4.0
model/model.pkl.fold4.1
model/model.pkl.fold4.10
model/model.pkl.fold4.11
model/model.pkl.fold4.12
model/model.pkl.fold4.13
model/model.pkl.fold4.14
model/model.pkl.fold4.15
model/model.pkl.fold4.16
model/model.pkl.fold4.17
model/model.pkl.fold4.18
model/model.pkl.fold4.19
model/model.pkl.fold4.2
model/model.pkl.fold4.20
model/model.pkl.fold4.21
model/model.pkl.fold4.22
model/model.pkl.fold4.23
model/model.pkl.fold4.24
model/model.pkl.fold4.25
model/model.pkl.fold4.26
model/model.pkl.fold4.27
model/model.pkl.fold4.28
model/model.pkl.fold4.29
model/model.pkl.fold4.3
model/model.pkl.fold4.4
model/model.pkl.fold4.5
model/model.pkl.fold4.6
model/model.pkl.fold4.7
model/model.pkl.fold4.8
model/model.pkl.fold4.9
src/__pycache__/callbacks.cpython-37.pyc
src/__pycache__/define.cpython-37.pyc
src/__pycache__/permute_stack.cpython-37.pyc
src/__pycache__/pytorch_base.cpython-37.pyc
src/__pycache__/stack_machine.cpython-37.pyc
src/__pycache__/text_num_utils.cpython-37.pyc
src/__pycache__/torch_solver.cpython-37.pyc
src/__pycache__/utils.cpython-37.pyc
src/log.json.fold0
src/log.json.fold1
src/log.json.fold2
src/log.json.fold3
src/log.json.fold4
